//**COLORS**//
$color-primary: orange;
$color-secondary: #fad99b;
$color-subtle: #fff6df;
$color-accent: orangered;

$color-text: rgb(37, 37, 37);
$color-text-light: rgb(250, 250, 250);
$color-border: rgb(202, 202, 202);
