@import "../sass/mixins.scss";

.comments {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  @include flex-col;
  gap: 3rem;
  textarea {
    width: 100%;
  }
  &__previous {
    @include flex-col;
    gap: 1rem;
  }
  &__add-comment {
    &--buttons {
      display: flex;
      gap: 1rem;
    }
  }
}
