@import "../sass/mixins.scss";
@import "../sass/variables.scss";

.favorite-card {
  display: flex;
  height: 8rem;
  background-color: white;
  gap: 1rem;
  border: 1px solid $color-border;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    outline: 2px solid $color-primary;
    border: 1px solid transparent;
  }
  &__text {
    h3 {
      margin-bottom: 1rem;
    }
    width: 100%;
    & > * {
      margin: 0;
    }
  }
  &__image-container {
    width: 20rem;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .favorite-card {
    height: 5rem;
    &__image-container {
      width: 8rem;
    }
    &__text {
      display: flex;
      align-items: center;
      p {
        display: none;
      }
      h3 {
        font-size: 1.2rem;
        margin: 0;
      }
    }
  }
}
@media (max-width: 425px) {
}
