@import "../sass/variables.scss";

.single-comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border: 1px solid $color-border;
  padding: 0.8rem;
  &__content {
    display: flex;
    gap: 0.5rem;
    &--name {
      font-weight: bold;
      margin-right: 0.5rem;
      font-size: 1rem;
    }
    &--date {
      font-size: 1rem;
    }
  }
  &__content {
    &--date {
      font-style: italic;
      color: gray;
    }
  }
}
